<% include partials/header %>
<script src="../../../js/district.js" defer></script>
<script src="../../../js/helpers.js" defer></script>
<link rel="stylesheet" href="/stylesheets/district.css"/>
<div class="layout_div" id="resultDiv">
	<p id="mapIntro">You are in...</p>
	<h2><%= expandStateName(district_data.name) %>'s <%= districtEnding(district_data.number) %> District</h2>
	<div id="mapDiv">
		<div id="imgDiv">
			<span id="districtName" style="display: none;"><%= district_data.name %>-<%= district_data.number %></span>
			<object id="districtMap" type="image/svg+xml" data="/images/<%= district_data.name %>.svg"></object>
		</div>
		<div id="repContainerDiv">
			<div id="repDiv">
			<% if (district_data.last_name != "Vacant") { %>
				<h3><b><%= district_data.first_name %> <%= district_data.middle_name %> <%= district_data.last_name %></b> <span id="party"><%= district_data.party %></span></h3>
				<p><img width="16px" src="/images/compass-1-64x64.png"/> <% if (district_data.website == null) { %>None<% } else { %><a href="<%= district_data.website %>"><%= district_data.website.split('//')[1] %><% } %></a></p>
				<p><img width="16px" src="/images/mail-3-64x64.png"/> <% if (district_data.contact_form == null) { %>None<% } else { %><a href="<%= district_data.contact_form %>"><%= district_data.contact_form.split('//')[1] %><% } %></a></p>
				<p><img width="16px" src="/images/facebook1-64x64.png"/> <a href="https://www.facebook.com/<%= district_data.facebook %>">facebook.com/<%= district_data.facebook %></a></p>
				<p><img width="16px" src="/images/twitter-64x64.png"/> <a href="https://www.twitter.com/<%= district_data.twitter %>">twitter.com/<%= district_data.twitter %></a></p>
				<p><img width="16px" src="/images/phone-1-64x64.png"/> <%= district_data.phone %></p>
				<p><img width="16px" src="/images/building-3-64x64.png"/> <a href="https://www.google.com/maps/search/<%= district_data.address %>, DC"><%= district_data.address %>, D.C.</a></p>
			<% } else if (district_data.name == "Vacant") { %>
				<p>Oh dear, it looks like this House seat is vacant right now! Feel free to check out some of the cool stats below while you're here :)</p>
			<% } else { %>
				<p>Sorry, couldn't find any representative information for this district.</p>
			<% } %>
			</div>
		</div>
	</div>
	<div id="districtDiv">
		<h3 id="demoLabel">Statistics</h3>
		<div id="statsDiv">
			<div class="stats_col" id="statsLeft">
				<div class="stats">
					<h4>Population</h4>
					<canvas id="popChart"></canvas>
					<div class="district_data">
						<div><div class="pop color_box"></div><span class="pop datum commify"><%= district_data.population %></span> <span class="pop_label">Total Population</span><span> (<%= (district_data.population / 710000 * 100).toFixed(1) %>% of average district size)</span></div>
						<div><div class="pop color_box"></div><span class="pop datum commify"><%= district_data.workforce %></span> <span class="pop_label">Total Workforce</span> <span>(<%= ((district_data.workforce / district_data.population) * 100).toFixed(1) %>%)</span></div>
						<div><div class="pop color_box"></div><span class="pop datum commify"><%= district_data.unemployed %></span> <span class="pop_label">Unemployed</span><span> (<%= (district_data.unemployed / district_data.workforce * 100).toFixed(1) %>%)</span></div>
						<div><div class="pop color_box"></div><span class="pop datum commify"><%= district_data.minor_population %></span> <span class="pop_label">Population Under 18</span> <span>(<%= ((district_data.minor_population / district_data.population) * 100).toFixed(1) %>%)</span></div>
					</div>
				</div>
				<div class="stats">
					<h4>Average Earnings By Race</h4>
					<canvas id="earningsChart"></canvas>
					<div id="earningsData" class="district_data">
						<div><div class="color_box" style="background-color: #f77"></div>$<span class="earnings datum commify"><%= district_data.white_earnings %></span> White</div>
						<div><div class="color_box" style="background-color: #aee"></div>$<span class="earnings datum commify"><%= district_data.black_earnings %></span> Black/African American</div>
						<div><div class="color_box" style="background-color: #a50"></div>$<span class="earnings datum commify"><%= district_data.asian_earnings %></span> Asian</div>
						<div><div class="color_box" style="background-color: #55f"></div>$<span class="earnings datum commify"><%= district_data.native_american_earnings %></span> Native American/Alaskan</div>
						<div><div class="color_box" style="background-color: #ffa"></div>$<span class="earnings datum commify"><%= district_data.pacific_islander_earnings %></span> Native Hawaiian/Pacific Islander</div>
						<div><div class="color_box" style="background-color: #fbfbfb"></div>$<span class="earnings datum commify"><%= district_data.other_earnings %></span> Other</div>
					</div>
				</div>
			</div>
			<div class="stats_col" id="statsRight">
				<div class="stats">
					<h4>Race</h4>
					<canvas id="raceChart"></canvas>
					<div id="raceData" class="district_data">
						<div><div class="color_box" style="background-color: #f77"></div><span class="datum" id="white_percent"><%= (district_data.white_population / district_data.population * 100).toFixed(1) %></span>% White</div>
						<div><div class="color_box" style="background-color: #aee"></div><span class="datum" id="black_percent"><%= (district_data.black_population / district_data.population * 100).toFixed(1) %></span>% Black/African American</div>
						<div><div class="color_box" style="background-color: #a50"></div><span class="datum" id="asian_percent"><%= (district_data.asian_population / district_data.population * 100).toFixed(1) %></span>% Asian</div>
						<div><div class="color_box" style="background-color: #55f"></div><span class="datum" id="am_percent"><%= (district_data.native_american_population / district_data.population * 100).toFixed(1) %></span>% Native American/Alaskan</div>
						<div><div class="color_box" style="background-color: #ffa"></div><span class="datum" id="haw_percent"><%= (district_data.pacific_islander_population / district_data.population * 100).toFixed(1) %></span>% Native Hawaiian/Pacific Islander</div>
						<div><div class="color_box" style="background-color: #fbfbfb"></div><span class="datum" id="other_percent"><%= (district_data.other_population / district_data.population * 100).toFixed(1) %></span>% Other</div>
					</div>
				</div>
				<div class="stats">
					<h4>Education</h4>
					<canvas id="eduChart"></canvas>
					<div id="eduData" class="district_data">
						<div><div class="edu color_box"></div><span class="degree datum"><%= (district_data.no_college_education / district_data.population * 100).toFixed(1) %></span>% <span class="degree_name">No Higher Education</span></div>
						<div><div class="edu color_box"></div><span class="degree datum"><%= (district_data.assoc_some_college_education / district_data.population * 100).toFixed(1) %></span>% <span class="degree_name">Associate's Degree/Some College</span></div>
						<div><div class="edu color_box"></div><span class="degree datum"><%= (district_data.bachelors_degree / district_data.population * 100).toFixed(1) %></span>% <span class="degree_name">Bachelor's Degree</span></div>
						<div><div class="edu color_box"></div><span class="degree datum"><%= (district_data.grad_degree / district_data.population * 100).toFixed(1) %></span>% <span class="degree_name">Graduate Degree</span></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<% include partials/footer %>
